.slidingListGeneral {
    margin-bottom: 25px;
}

.slidingListGeneral h2 {
    margin: 0px 0px 0px 40px;
}

.slidingListArea {
    overflow-x: hidden;
    /* padding-left: 40px;  */
}

.slidingListItself {
    transition: all ease 0.5s;
}

.slidingListItem {
    display: inline-block;
    width: 200px;
    cursor: pointer;
}

.slidingListItem img {
    width: 100%; /* the images will ocupy 100% of the area assigned to each of them (which is 150px) */
    /*padding-right: 15px; - padding is not good because the image retains its relative size to the area assigned to it (100%) and when we hover over it to make it bigger (whit the block of code below), we will have to make its size bigger than 100%, and obviously that will be horrible*/
    transform: scale(0.9);
    transition: all ease 0.3s;
}

.slidingListItem img:hover{
    transform: scale(1);
}

.navigateLeft, .navigateRight {
    position: absolute;
    width: 60px;
    height: 304px;
    background-color: #4400b1cc;
    z-index: 99; /* it has to be less than 999 because that's the header's z-index*/
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
}

.navigateLeft {
    left: 0;
}

.navigateRight {
    right: 0;
}

.slidingListGeneral:hover .navigateRight, .slidingListGeneral:hover .navigateLeft {
    opacity: 1;
}

@media (max-width: 760px) {
    .navigateLeft, .navigateRight {
        opacity: 1;
    }
}